<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
</head>
<style  type="text/css">
    #nav  a{
      text-decoration: none;
    }
    #nav  b {
      font-size: 30px;
      color: dodgerblue;
    }
</style>
<body style="margin: 0; background-image: url(img/zzpic18274.jpg); background-repeat: no-repeat; background-size: 100% 1000px">
    <p style="background-color: slategray; font-size: 50px;width: 200px" >最新文章</p>
    <div id="nav">
      <ul>
        <li>
          <a href="one/one.html" target="_blank"><b>Nginx+nginx-rtmp-module+OBS推流搭建流媒体服务器</b></a>
        </li>
        <li>
          <a href="http://www.pythonfly.com:81/wordpress/index.php/2019/04/22/zabbix/" target="_blank"><b>zabbix搭建</b></a>
        </li>
        <li>
          <a href="http://www.pythonfly.com:8086/" target="_blank"><b>H5播放器</b></a>
        </li>
        <li>
          <a href="http://www.pythonfly.com:81/wordpress/index.php/2019/06/03/scrapy/" target="_blank"><b>Scrapy框架</b></a>
        </li>
      </ul>
    </div>
</body>
</html>
