<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body bgcolor="black">
    <h1 style="color: aliceblue">浮士德</h1>
    <i style="color: aliceblue">2019.6.1</i>
    <hr>
    <form name="form1" action="/login" method="post">
        <a style="color: aliceblue">用户名：</a>
        <input type="text" name="name">
        <a style="color: aliceblue">密码：</a>
        <input type="password" name="pwd">
        <input type="submit" value="提交">   <a style="color: red">{{jaa}}</a>
        <p style="color: aliceblue">IP地址：{{jay}}</p>
        <!--<input type="file">-->
    </form>
    <form name="form2" action="/passport" method="post">
        <input type="submit" value="注册">
    </form>
</body>
</html>
