<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<audio autoplay="autopaly"><source src="{{url_for('static',filename='video/music.mp3')}}" type="audio/mp3" /></audio>
<body bgcolor="black">
    <h1 style="color: aliceblue">浮士德</h1>
    <i style="color: aliceblue">2019.6.1</i>
    <hr>
    <form name="form1" action="/login" method="post">
        <a style="color: aliceblue">用户名：</a>
        <input type="text" name="name">
        <a style="color: aliceblue">密码：</a>
        <input type="password" name="pwd">
        <input type="submit" value="提交">   <a style="color: red">{{jaa}}</a>
        <p style="color: aliceblue">IP地址：{{jay}}</p>
        <!--<input type="file">-->
    </form>
    <form name="form2" action="/passport" method="post" target="_blank">
        <input type="submit" value="注册">
    </form>
    <br>
    <br>
    <form name="form2" action="wcloud" method="post" {{jad}}>
        <a style="color: aliceblue">
            词云：
        </a>
        <textarea type="text" name="data" style="width: 600px;height: 300px">
        </textarea>
        <input type="submit" value="提交"><a style="color: red">{{jav}}</a>
    </form>
</body>
</html>
