<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body bgcolor="black">
    <h1 style="color: aliceblue">浮士德</h1>
    <i style="color: aliceblue">2019.6.1</i>
    <hr>
    <form name="form1" action="" method="post">
        <a style="color: aliceblue">密码：</a>
        <input name="pwd">
        <input type="button" value="提交" style="width:50px;background-color: lightslategrey;" onclick="check()">
        <input type="reset" value="重置" style="background-color: lightslategrey;">
        <p style="color: aliceblue">IP地址：{{jay}}</p>
        <!--<input type="file">-->
    </form>
</body>
</html>
